:root {
    --bhigreen: RGB(203, 218, 121);
    --bhigray: RGB(123, 134, 118);
    --greenvar1: RGB(177, 198, 125);
    --greenvar2: RGB(145, 164, 71);
}

.container {
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 5px;
}

.update{
    margin-top: 0px;
    font-style: italic;
}

.oxygen_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
    border: 2px solid var(--bhigreen);
    margin-bottom: 20px;
}

.message {
    font-size: 18px;
    margin-bottom: 10px;
    border: 3px solid var(--bhigreen);
    display: inline-block;
    padding: 10px;
    line-height: 20px;
}

.history {
    display: inline-block;
    text-align: left;
    justify-content: center;
    border: 3px solid var(--bhigray);
    margin-top: 10px;
    padding-right: 20px;
}

h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 20px;
}

li {
    list-style-position: outside;
    margin: 0;
    padding-inline-start: 0;
}

.info-button{
    margin: 5px;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    color: var(--greenvar2);
    background: white;
    text-decoration: underline;
    cursor: pointer;
}

.history-button{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: var(--bhigray);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.history-button:hover{
    background: #f16521;
    color: white;
}

.buttons-container {
    margin-top: 10px;
}

.button {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    background: #f0f0f0;
    border: 2px solid var(--bhigray);
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background: #f16521;
    border: 2px solid #f16521;
    color: white;
}

.bottom-buttons{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: var(--bhigray);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

a.bottom-buttons{
    text-decoration: none;
    font-weight: normal;
}

.bottom-buttons:hover {
    background: #f16521;
    color: white;
}

.back-button {
    margin-top: 0px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: RGB(203,218,121);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background: #f16521;
}

.interactive-subtitle{
    font-size: 18px;
    display: flex;
    text-align: center;
    font-weight: bold;
    margin: auto;
    width: max-content;
    padding: 10px;
    line-height: 20px;
    background: var(--bhigreen);
    color: white;
}

.flowchart-subtitle{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    line-height: 20px;
    background:#f16521;
    color: white;
}

div.flowchart {
    overflow-x: auto;
    border: 2px solid #f16521;
    margin: 10px;
    padding: 5px;
}

.full-flowchart-img {
    display: block;
    width: 225%;
    height: 100%;
}
