h1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.welcome-message{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border: solid 3px var(--bhigreen);
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.box {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.home-img {
    height: 300px;
    width: 400px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
    border: 5px solid var(--bhigreen);
}

.box:hover .home-img {
    transform: scale(1.05);
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box:hover .overlay {
    opacity: 1;
}

.overlay-text {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: #f16521;
}

@media (max-width: 800px) {

}
