h1{
    display: flex;
    justify-content: center;
}

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grid > div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}
.grid > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.box {
    margin: 20px;
}

img{
    height: 100px;
    width: 100px;
}
