.nav {
    background: #cbde74;
    height: 85px;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 60%;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-link.active {
    color: #f16521;
}

a:hover{
    color: #f16521;
}

a{
    font-family: "din-2014", sans-serif;
    font-weight: bold;
}
